= button_tag id: 'resetAllFilters' do
  = t(:reset_all_filters)
:javascript
  $(document).ready(function(){
    $('.reset-filter-panel').on('click', function() {
      $(this).parents('.filter-group').find('.filter-item').each(function(){
        $(this).val('');
      });
    });

    $('#resetAllFilters').on('click', function() {
      $('.filter-form .filter-item').each(function(){
        $(this).val('');
      });
    });
  });