<!DOCTYPE html>
<html>
<head>
  <title>Reporting</title>
  <%= stylesheet_link_tag    "reporting/application", media: "all" %>
  <%= javascript_include_tag "reporting/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
