= link_to 'Export to CSV', report_results_path(@report, params: @params, format: 'csv')
%table
  %tr
    - @fields.each do |field|
      %th
        = (field.title || field.name)
        
  - @results.each do |result|
    %tr
      - @fields.each do |field|
        %td
          = result[field.name.to_sym]